@charset "utf-8";
/* CSS Document */

/*
black #0D0D0D
orange #F27507
dark gray #3d3d3d
light gray #646464
#141414
#FFFFFF
*/


/*--------------------------------------------------------*/
/*GENERAL*/

h1{
	font-family: Roboto;
	font-size: 3em;
	text-transform: uppercase;
    padding-left: 1em;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}
a{
	text-decoration: none;
}
a:hover{
    color:#F27507;
	transition-duration: .3s;
}
p{
	margin: 0 0 1em 0;
	line-height: 1.3;
}
main{
    padding: 20px;
}




/*--------------------------------------------------------*/
/*HOME PAGE*/
.grid_container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 'content event1 event2'
                         'content event3 event4'
                         'news event3 event4';
    grid-gap: 20px;
    padding: 20px;
}
.grid_container img{
    width: 100%;
}
.grid_container > div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.event_text, .main_content_section, .main_news{
    padding: 1.5em;
    padding-bottom: 0.5em;
}

  /* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  


/*EVENTS*/
.main_event1{
    grid-area: event1;
}
.main_event2{
    grid-area: event2;
}
.main_event3{
    grid-area: event3;
}
.main_event4{
    grid-area: event4;
}
.event_text h3{
    border-bottom: #F27507 solid 2px;
    margin-top: 0;
    font-size: 1.6em;
}
.main_event1, .main_event2, .main_event3, .main_event4{
    overflow: hidden;
}

/*ABOUT US, CONTACT*/
.main_content{
    grid-area: content;
}
.main_content_section h4{
    font-size: 2em;
    margin-bottom:  0.5em;
    border-bottom: #F27507 solid 2px;
    margin-top: 0;
}
.main_content_section p{
    margin: 0;
}
.grid_container_section{
    display: grid;
    grid-auto-columns: 1fr 2fr 1fr;
    grid-template-areas: 'contact1 map contact2';
}
.grid_section_contact1{
    grid-area: contact1;
}
.grid_section_map{
    grid-area: map;
    margin: auto;
}
.grid_section_contact2{
    grid-area: contact2;
}
.grid_section_map iframe{
    max-width: 16em;
    max-height: 9em;
    padding: 0 1em;
    border: 0;
}


/*NEWS*/
.main_news{
    grid-area: news;
}
.main_news h2{
    font-size: 2em;
    margin-bottom:  0.5em;
    border-bottom: #F27507 solid 2px;
    margin-top: 0;
}
.main_new h4{
    margin: 0;
    font-size: 1.2em;
    color: #646464;
}




/*--------------------------------------------------------*/
/*DEVELOPMENT TEAM*/
.developers .card img{
    width: 100%;
}
.developers{
    margin: 2em 3% 0;
    display: grid;
    grid-template-columns: auto auto auto;
}

/*CARDS*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    margin: 2em;
    position: relative;
    padding-bottom: 3em;  
}
.card_text{
    padding: 0.5em;
}
.card .card_contact {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.card_contact a{
    color:white;
}
.card a:hover {
    color: #F27507;
}
.card .card_name{
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.5em;
}



/*--------------------------------------------------------*/
/*CURRENT PROJECTS*/
.short_descr{
    margin-left: 10em;
}

/*TABLES*/
table {
  border-collapse: collapse;
	width: 80%;
	margin: 2em 10em 10em 10em;
	border-bottom: 2px solid #141414;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.10),
     0px 5px 10px rgba(0,0,0,0.05),
     0px 10px 10px rgba(0,0,0,0.05),
     0px 15px 10px rgba(0,0,0,0.05);
	
}
thead{
	background-color: #141414;
	color: #F2F2F0;
	font-size: 1.1em;
}
tr{
	height:5em;
	border-bottom: 1px solid #BFBFBF;
}
tbody tr:hover{
	 background-color: #f4f4f4;
}
th, td{
	padding: .8em 1em;
	vertical-align: middle;
	text-align: left;
	
}
.table_character{
	height:5em;
	width: 550px;
	overflow-y: scroll;
	
}


/*--------------------------------------------------------*/
/*FOOTER*/
footer{
	height: 12em;
	background-color: #141414;
    justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 5em;
    margin-top: 2em;
}
footer ul{
	list-style:none;
}
footer ul li{
	padding-bottom: .6em;
	font-size: 1em;
	color:#FFFFFF;
}
footer p{
    color: #646464;
}
footer a{
    color: white;
}

/*FONT AWESOME*/
.fa {
    padding: 15px;
    font-size: 40px !important;
    width: 5px;
    height: 5px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    box-sizing: content-box;
    border-radius: 50%;	
}
.fa-facebook, .fa-instagram, .fa-twitter {
    background: transparent;
    color: #eeeeee;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: #F2490C;
    transition-duration: 0.4s;

}


/*--------------------------------------------------------*/
/*MEDIA QUERIES*/
@media only screen and (max-width:1460px){
    .grid_container_section{
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-template-areas:'contact1 contact2';
    }
    .grid_section_map{
        display: none;
    }
}
@media only screen and (max-width:1070px){
    .grid_container{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'content event1'
            'content event2'
            'news event3'
            'news event4';   
        padding: 1px;
    }
    .short_descr{
        margin-left: 1em;
    }
    table {
        margin: 2em 10em 10em 5em;
    }
    .developers{
        margin:0 5% 5% 0;
        font-size: 90%;
        padding:0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: auto auto;

    }
    h1 {
        padding: 10px;
    }
}
@media only screen and (max-width:650px){
    .developers{
        margin: 0 16% 0;
        font-size: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: auto;
    }
    main{
        padding:0.2px;
    }
    
}
@media only screen and (max-width:576px){
    html{
        font-size: 90%;
    }
    .grid_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:'content''news''event1''event2'
                            'event3''event4';
        padding: 1px;
    }
    container img {
        width: 90%;
    }
    table {
        margin: 0em 10em 10em 2.5em;
}
    .grid_container_section{
        display: grid;
        grid-template-areas:'contact1' '' 'contact2';
        align-content:space-around;
    }

    main{
        padding:0.2px;
    }
    footer{
        justify-content: center;        
        height:auto;
        width:100%;
        flex-direction: column;
        align-content: center;
        padding: 0px;
        margin-top: 0px;
    }
    .fa{
        width, height: 5px;
    }

    .card {
        margin-left: 3.5em;
     
    }
}
@media only screen and (max-width:460px){
    html{
        font-size: 80%;
    }
    .developers{
        margin: 0 2% 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: auto;
    }

}